html, body, #map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
    -webkit-text-size-adjust: 100%;
}

.divSSJC {
    position: absolute;
    left: 20px;
    top: 80px;
    width: 400px;
    z-index: 1000;
    height: 45px;
    border-style: none;
    box-shadow: 1px 1px 13px #8A8888;
    background-color: #fff;
    color: inherit;
    border-color: #e7eaec;
    -o-border-image: none;
    border-image: none;
    border-width: 1px 0;
}
.map-userlist{
    position: absolute;
    left: 20px;
    top: 125px;
    width: 400px;
    z-index: 1000;
    border-style: none;
    box-shadow: 1px 1px 13px #8A8888;
    background-color: #fff;
    color: inherit;
    border-color: #e7eaec;
    -o-border-image: none;
    border-image: none;
    border-width: 1px 0;
}
.separator1 {
    background-color: #ccc;
    height: 24px;
    left: 360px;
    position: absolute;
    top: 10px;
    width: 1px;
}

.searchIcon {
    cursor: pointer;
    height: 16px;
    left: 370px;
    position: absolute;
    top: 15px;
}

.ssjcClostIcon {
    cursor: pointer;
    height: 16px;
    left: 390px;
    position: absolute;
    top: -9px;
}

.searchTxt {
    left: 0px;
    position: relative;
    top: 6px;
    width: 320px;
    border: none;
    margin: 0 0 0 8px;
    background-color: #FFF;
    background-image: none;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
}

.ssjc_tubiao {
    width: 100%;
    height: 238px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 999;
    background-color: white;
    box-shadow: 0px -3px 3px #8A8888;
}

.divCloseSSJC_DATA {
    margin: 0 auto;
    height: 60px;
    width: 50px;
    margin-top: -25px;
}

.yc_ry_item {
    cursor: pointer;
    height: 25px;
    padding: 3px;
    padding-left: 10px;
    border-bottom: 1px dashed #ddd;
}

    .yc_ry_item:hover {
        background: #F2F2F2;
    }

.toobarBiaoHui-btn {
    right: 60px;
    width: 100px;
    height: auto;
    position: absolute;
    top: 375px;
    background-color: white;
}

.toobarBiaoHui-btn-box {
    width: 100px;
    height: auto;
    position: relative;
    box-shadow: 1px 1px 13px #8A8888;
}

.toobarBiaoHui-btn-close {
    position: absolute;
    right: -10px;
    top: -10px;
}




.toobarDiTu-btn {
    right: 60px;
    width: 100px;
    height: auto;
    position: absolute;
    top: 350px;
    background-color: white;
}

.toobar-btn-box {
    width: 100px;
    height: auto;
    position: relative;
    box-shadow: 1px 1px 13px #8A8888;
}

.toobar-btn-close {
    position: absolute;
    right: -10px;
    top: -10px;
}
.toolbarItem {
    cursor: pointer;
    height: 25px;
    padding: 3px;
    padding-left: 10px;
    border-bottom: 1px dashed #ddd;
}
.toolbarItem .icon {
        height: 20px;
        width: 22px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        color: #565656;
        font-size: 12px;
        line-height: 1.5;
        word-wrap: break-word;
    }

    .toolbarItem .name {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        color: #565656;
        font-size: 12px;
        line-height: 1.5;
        word-wrap: break-word;
    }

        .toolbarItem .name:hover {
            color: #3385FF;
        }

.toobar-btn-box img {
    position: relative;
    top: 9%;
    margin-right: 10%;
}



.toobarDuiBiList-btn {
    right: 60px;
    width: 100px;
    height: auto;
    position: absolute;
    top: 90px;
    background-color: white;
}

.ibox-content {
    clear: both;
    background-color: white;
}

.searchContainer {
    position: absolute;
    right: 60px;
    top: 20px;
    width: 400px;
    z-index: 1000;
    height: 45px;
    border-style: none;
    box-shadow: 1px 1px 3px rgba(51,133,255,0.35);
}

.rootIcon {
    height: 16px;
    left: 375px;
    position: relative;
    top: -16px;
    width: 11px;
    cursor: pointer;
}

    .rootIcon:hover {
        height: 17px;
    }

.searchResultContainer {
    position: absolute;
    right: 100px;
    top: 80px;
    width: 360px;
    z-index: 1;
    min-height: 100px;
    max-height: 500px;
    border-style: none;
    box-shadow: 1px 1px 3px rgba(51,133,255,0.35);
    padding: 0px;
    padding-top: 5px;
}

.separator1 {
    background-color: #ccc;
    height: 24px;
    left: 360px;
    position: absolute;
    top: 10px;
    width: 1px;
}

.separator2 {
    background-color: #ccc;
    height: 1px;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.poi-history-c {
    margin-left: 10px;
    border-top: 0px;
    list-style: none;
}

    .poi-history-c .poi-history .item {
        list-style: none;
        font-size: 13px;
        padding: 6px 5px 3px;
        cursor: pointer;
        color: #999;
        width: 340px;
    }

        .poi-history-c .poi-history .item:hover {
            background-color: #FBFBFB;
        }

        .poi-history-c .poi-history .item .clock-icon {
            margin: 4px 8px 0 0;
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url("../../images/map/clock-icon.png") no-repeat;
        }

        .poi-history-c .poi-history .item .name {
            display: inline-block;
            width: 250px;
            vertical-align: top;
        }

        .poi-history-c .poi-history .item .del-item {
            display: none;
            width: 25px;
            height: 20px;
            background: url("../../images//map/iw-close-2.png") no-repeat;
            margin: 2px 0 0 2px;
            vertical-align: top;
            -webkit-transform: scale(.6);
            -moz-transform: scale(.6);
            -ms-transform: scale(0.6);
            transform: scale(0.6);
        }

        .poi-history-c .poi-history .item:hover .del-item:hover {
            opacity: 1;
        }

        .poi-history-c .poi-history .item:hover .del-item {
            display: inline-block;
        }

            .poi-history-c .poi-history .item:hover .del-item .poi-history-c .del-all {
                color: #b2b2b2;
            }

    .poi-history-c .del-all .btn {
        cursor: pointer;
        padding: 0 10px;
        float: right;
    }

.btn:hover {
    color: #3385FF;
}

.clearfix::after {
    display: block;
    width: 0px;
}

.clearfix::after {
    content: "\0020";
    height: 0px;
    clear: both;
}

.searchResultBox {
    box-shadow: 1px 1px 3px rgba(51, 133, 255, 0.35);
    width: 360px;
    z-index: 10;
    height: auto;
    border-style: none;
    background-color: white;
    padding: 0px;
    position: absolute;
    top: 70px;
    right: 100px;
}


.searchResultBoxtop {
    width: 100%;
    height: 30px;
    border: solid rgba(51, 133, 255, 0.3);
    border-width: 0px 0px 0.5px 0px;
    box-shadow: none;
    background-color: #3385FF;
    color: white;
}


.searchResultBox .middle {
    box-shadow: none;
}

.searchResultBoxbottom {
    width: 100%;
    height: 35px;
    border-width: 0.5px 0px 0px 0px;
    /*position: absolute;*/ /*or前面的是absolute就可以用*/
    left: 0;
    bottom: 0;
    box-shadow: none;
    background-color: #3385FF;
}

.searchResultItems {
}

.divQueryFilter {
    float: left;
    height: 30px;
    width: 75px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    position: absolute;
}

    .divQueryFilter:hover {
        cursor: pointer;
        height: 31px;
        border-width: 1px;
        border-color: white;
        border-style: solid;
    }

.divQueryFilter2 {
    float: left;
    height: 30px;
    width: 75px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    position: absolute;
    left: 75px;
}

    .divQueryFilter2:hover {
        border-color: white;
        cursor: pointer;
        height: 31px;
        border-width: 1px;
        border-style: solid;
    }

.item {
    width: 100%;
    height: 38PX;
    box-shadow: none;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
    color: #565656;
}

.odd {
    background-color: #E6E6E6;
}

    .odd:hover {
        background-color: #3385FF;
        color: white;
    }

.item:hover {
    background-color: #3385FF;
    color: white;
}

.item .selected {
    background-color: #3385FF;
    color: white;
}

.item .num1 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -107px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num2 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -172px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num3 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -237px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num4 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -302px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num5 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -366px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num6 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -431px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num7 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -496px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num8 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -561px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num9 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -626px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num10 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -691px -243px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num11 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -107px -417px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num12 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -172px -417px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num13 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -237px -417px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num14 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -302px -417px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num15 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -366px -417px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num16 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -431px -417px;
    float: left;
    width: 19px;
    height: 32px;
}

.item .num17 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -496px -417px;
    float: left;
    width: 20px;
    height: 32px;
}

.item .num18 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -561px -417px;
    float: left;
    width: 20px;
    height: 32px;
}

.item .num19 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -626px -417px;
    float: left;
    width: 20px;
    height: 32px;
}

.item .num20 {
    background-image: url("/images/map/item_mapmarker.png");
    background-position: -691px -417px;
    float: left;
    width: 20px;
    height: 32px;
}

.item .txt {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 12px;
}


.fenlei_div {
    width: 100%;
    height: 170px;
    margin-left: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
}

    .fenlei_div ul li {
        color: gray;
        cursor: pointer;
        float: left;
        font-size: 12px;
        font-weight: normal;
        height: 70px;
        line-height: 18px;
        margin: 10px 5px 5px 25px;
        width: 50px;
        list-style: outside none none;
    }

.divPager {
    float: left;
    font-size: 13px;
}

    .divPager .homePage {
        width: 35px;
        height: 20px;
        border: solid rgba(51,133,255, 0.3);
        border-width: 0.5px 0.5px 0.5px 0.5px;
        padding-left: 4px;
        padding-top: 3px;
        cursor: pointer;
    }

        .divPager .homePage:hover {
            background: #3385FF;
            color: white;
        }



    .divPager .prePage {
        width: 50px;
        height: 20px;
        border: solid rgba(51,133,255, 0.3);
        border-width: 0.5px 0.5px 0.5px 0.5px;
        padding-left: 3px;
        padding-top: 2px;
        cursor: pointer;
        margin-left: 3px;
    }

        .divPager .prePage:hover {
            background: #3385FF;
            color: white;
        }

    .divPager .num {
        width: auto;
        height: 20px;
        border: solid rgba(51,133,255, 0.3);
        border-width: 0.5px 0.5px 0.5px 0.5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        cursor: pointer;
        margin-left: 3px;
    }

        .divPager .num:hover {
            background: #3385FF;
            color: white;
        }

    .divPager .nextPage {
        width: 50px;
        height: 20px;
        border: solid rgba(51,133,255, 0.3);
        border-width: 0.5px 0.5px 0.5px 0.5px;
        padding-left: 3px;
        padding-top: 2px;
        cursor: pointer;
        margin-left: 3px;
    }

        .divPager .nextPage:hover {
            background: #3385FF;
            color: white;
        }

    .divPager .lastPage {
        width: 35px;
        height: 20px;
        border: solid rgba(51,133,255, 0.3);
        border-width: 0.5px 0.5px 0.5px 0.5px;
        padding-left: 3px;
        padding-top: 2px;
        cursor: pointer;
        margin-left: 3px;
    }

        .divPager .lastPage:hover {
            background: #3385FF;
            color: white;
        }

.fenleiClass {
    background: rgba(0, 0, 0, 0) url("../../images/map/type_demo.png") no-repeat scroll 0 0;
    height: 50px;
    margin: 0 5px 5px 0;
    width: 50px;
    background-size: 50px;
}

    .fenleiClass img {
        height: 50px;
        margin: 0 5px 5px 0;
        width: 50px;
        border: 0 none;
        margin-right: 2px;
        vertical-align: middle;
    }

    .fenleiClass span:hover {
        color: #3385FF;
    }


.toobarZhuanTi-btn {
    position: absolute;
    top: 150px;
    right: 60px;
    border-radius: 2px;
    /*box-shadow: 1px 2px 1px rgba(0,0,0,0.15);*/
    box-shadow: 1px 1px 3px rgba(51,133,255,0.35);
    line-height: 0;
    z-index: 9;
}

    .toobarZhuanTi-btn .title {
        background-color: white;
        padding: 5px;
    }

.toobarZhuanTiPic-btn {
    z-index: 10;
    position: absolute;
    right: 60px;
    bottom: 9px;
    /*margin: 8px 0 0 0;*/
    background-color: white;
    /*width: 400px;*/
    padding: 6px 0px 0 0px;
    text-align: center;
}

#closeZhuanTiListPicPannel {
    float: right;
    height: 13px;
    width: 13px;
    margin: 4px;
    cursor: pointer;
}

.xmlogo {
    background: rgba(0, 0, 0, 0) url('../../images/map/tdtlogo.png') repeat scroll 0 0;
    bottom: 30px;
    height: 40px;
    left: 10px;
    position: absolute;
    width: 182px;
    z-index: 10;
    display: block;
}
.mapAttr {
    bottom: 1px;
    height: 20px;
    left: 1px;
    position: absolute;
    width: 520px;
    z-index: 10;
    display: block;
    padding-top: 2px;
    background: rgba(255,255,255,0.8);
    box-shadow: 1px 1px 3px rgba(51,133,255,0.35);
}
